@model ProjectDotNet.Models.Accounts
@{
    ViewData["Title"] = "Login Page";
}

<section style="padding-bottom: 100px; padding-top: 100px" class="bg-color-1">
    <div class="container-fluid">
        <form asp-action="CheckLogin" style="width: 100%; margin: auto; max-width: 500px; background-color: #fff">
            <h1 class="fz1 text-center">Login</h1>
            @if (ViewBag.ErrorMessage != null)
            {
                <div class="text-center text-danger">
                    <strong>Error:</strong> @ViewBag.ErrorMessage
                </div>
            }
            <div class="form-group">
                <label asp-for="Email">Email</label>
                <input type="text" asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group pt-2">
                <label asp-for="Password">Password</label>
                <input type="password" asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="pt-3 pb-3">
                <button type="submit" class="btn-color-1 d-block" style="width: 100%">
                    Login
                </button>
             </div>
            <div
                ><a asp-controller="Account" asp-action="Register" class="btn-color-2">Register</a>
            </div>
    </form>
    </div>
</section>