@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <div class="row" style=" position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    text-align: center">
        <div class="col-md-2" style="width:100%"></div>
        <div class="col-md-8">
            <input type="text" style="width:100%;padding:12px 7px;border-radius:5px">
        </div>
        <div class="col-md-2">
            <button class="btn btn-primary" type="button" style="width:100%;padding:12px 7px;border-radius:5px">Gửi</button>
        </div>
    </div>

</div>
